@import 'reset';
@import './components/images';
@import './components/nav';
@import './components/recipe.scss';
@import './components/buttons';

body {
  background-color: #232946;
}

#page-title {
  color: #fffffe;
  text-decoration: none;
}

#page-title:hover {
  color: #c7c7c5;
}